/* Feel free to change any of the styling below!*/
body {
    text-align: center;
     background-color: #9687A3;
}



img {
    width: 350px;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button {
    height: 40px;
}



h1 {
    font-size: 50px;
    color: black;
}



.open-one-screen{
   display:none;
}
 
.open-two-screen{
   display:none;
}

.open-one-end{
   display:none;
}

.open-two-end{
   display:none;
}
